
*{
    margin: 0;
    padding:0;
}
.App{
    height: 100vh;
}
.mainDiv{
    padding-top: 35vh;
}

#inputId{
    width:150px;
}

.inputClass{
    margin-bottom: 15px;
}

#createId{
    height: 38px;
    margin-left: 3px;
}

#itemId{
    color: '#800080' !important;
}