
*{
    margin: 0;
    padding:0;
}
body{
    background-color: #323232;
}
.App{
    height: 100vh;
}
.mainDiv{
    padding-top: 35px;
}

#inputId{
    width:150px;
    color: '#f6f6f6' !important;
}

.inputClass{
    margin-bottom: 15px;
    margin-left: 15px;
}

#createId{
    height: 38px;
    margin-left: 3px;
}

#itemId{
    color: '#800080' !important;
}
#inputId-helper-text{
    color:'#f6f6f6' !important
}
#boldText{
    font-weight: 550;
}
#lighBoldText{
    font-weight:400
}
#landingGrid{
    padding: 35px 45px;
}
#landingItem{
    padding:20px;
}
.inputSize{
    width: 10%;
}
.outputSize{
    margin-top: 100px;
}
